.student-details {
    width: 800px;
    height: 550px;
    background-color: white;
    padding-left: 40px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
}

.profile-image {
    position: relative;
    top: 55px;
    left: 590px;
    width: 120px;
    height: 120px;
    background-color: rgb(150, 166, 170);
    margin-bottom: -22px;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: -2px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.527);
    margin: 50px 40px 0 0;
}

h4 {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.342);
    padding-bottom: 10px;
}

.student-infos {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 250px;
    position: relative;
    top: 50px;
    left: 10px;
    padding: 30px;
    background-color: rgba(210, 221, 224, 0.274);
}

.student-contact {
    position: relative;
    top: -30px;
    left: 150px;
    padding: 30px;
}

@media (max-width: 720px) {
    .student-details {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 700px;

        .profile-image {
            position: relative;
            left: 73px;
            top: 40px;
            margin-bottom: 30px;
        }

        h2 {
            padding: 0;
            text-align: center;
        }

        .student-infos {
            flex-direction: column;
            position: relative;
            top: 30px;
            left: -20px;
            width: 310px;
            height: 400px;
        }

        .student-contact {
            position: relative;
            top: 5px;
            left: -32px;
            width: 310px;
        }
    }
}
