* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

html,
body {
    background-color: rgb(210, 221, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
